<!DOCTYPE html>
{% load static %}
<html lang='ja'>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <script src="{% static '/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
    <title>{% block title %}{% endblock title %}</title>
<head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</span></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if request.user.is_authenticated  %}
                    <li class="nav-item">
                        <a class="nav-link" href="#!">{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create' %}">Create account</a>
                    </li>
                {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-2">
        {% block content %}
        {% endblock %}
    </div>
</body>