{% extends 'base.html' %}
{% block title %}ツイート{% endblock title %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label class="control-label" for="{{ field.name }}">
                    {{ field.label }}
                </label>
                <div class="form-control">
                    <input type="" class="form-control" name="{{ field.name }}" id="{{ field.name }}">
                </div>
            </div> 
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-sm">Tweet</button>
    </form>
{% endblock %}
