{% extends 'base.html' %}
{% load static %}

{% block title %}タイムライン{% endblock title %}
{% block content %}
    {% if request.user.is_authenticated  %}
        {% if post_list %}
            <ul class="list-unstyled">
            {% for post in post_list %}
                <li class="media mt-2 border border-dark rounded">
                    {% if post.author.icon %}
                        <img class="d-flex align-self-center img-thumbnail" src="{{ post.author.icon.url }}" width="64" height="64">
                    {% else %}
                        <img class="d-flex align-self-center img-thumbnail" src="{% static 'images/user_icon.png' %}" width="64" height="64">
                    {% endif %}
                    <div class="media-body">
                        <h5 class=""><a href={% url 'accounts:profile' post.author.username %}>@{{ post.author }}</a></h5></h4>
                        <p class="">
                            {{ post.content }}
                        </p>
                        <a class="">👍 いいね {{post.likes}}</a>
                        <h6 class="mb-2 mt-1 text-muted">{{ post.created_at }}</h6>
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            Tweetがまだありません
        {% endif %}
    {% else %}
        ようこそTwitter-cloneへ！<a href="{% url 'accounts:create' %}">アカウントを作成する</a>か<a href="{% url 'accounts:login' %}">ログイン</a>してください
    {% endif %}
{% endblock %}
