{% extends 'base.html' %}
{% load static %}

{% block title %}タイムライン{% endblock title %}
{% block content %}
    {% if request.user.is_authenticated  %}
        {% if post_list %}
            <ul class="list-unstyled">
                {% for post in post_list %}
                    <div class="row mt-2 border">
                        <div style="width: 100px;" class="col-2 my-1">
                            <a href={% url 'accounts:profile' post.author.username %}>
                                {% if post.author.icon %}
                                    <img class="align-self-center img-thumbnail img-fluid" src="{{ post.author.icon.url }}">
                                {% else %}
                                    <img class="align-self-center img-thumbnail img-fluid" src="{% static 'images/user_icon.png' %}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col my-1">
                            <h4 class=""><a class="text-dark" href={% url 'accounts:profile' post.author.username %}>@{{ post.author }}</a></h4>
                            <p class="text-break">
                                {{ post.content | linebreaksbr | urlize }}
                            </p>
                            {% if post.pk in liked_list %}
                                <a href="{% url "post:favorite" post.pk %}" class="d-inline-block"><button type="button" class="btn btn-warning btn-sm">☆いいね {{ post.likes }}</button></a>
                            {% else %}
                                <a href="{% url "post:favorite" post.pk %}" class="d-inline-block"><button type="button" class="btn btn-outline-warning btn-sm">☆いいね {{ post.likes }}</button></a>
                            {% endif %}
                            {% if post.author == request.user %}
                                <a href="{% url "post:delete" post.pk %}" class="d-inline-block ms-2"><button type="button" class="btn btn-outline-danger btn-sm">削除</button></a>
                            {% endif %}
                            <h6 class="d-inline-block text-muted ms-2">{{ post.created_at }}</h6>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
            <h6>Tweetがまだありません</h6>
        {% endif %}
    {% else %}
        <h6>ようこそTwitter-cloneへ！<a href="{% url 'accounts:create' %}">アカウントを作成する</a>か<a href="{% url 'accounts:login' %}">ログイン</a>してください</h6>
    {% endif %}
{% endblock %}
