{% extends 'base.html' %}
{% load static %}
{% load boost %}

{% block title %}ツイート検索{% endblock title %}
{% block content %}
    {% if request.user.is_authenticated  %}
        <form class="d-flex" action="" method="get" name="search">
            <input class="form-control w-50" name="query" value="{{ request.GET.query }}" type="text" placeholder="ツイート検索">
            <button class="btn btn-outline-success w-10" type="submit">検索</button>
        </form>
        {% for post,likes in post_list|zip:liked_count %}
            <ul class="list-unstyled">
                <div class="row mt-2 border">
                    <div style="width: 100px;" class="col-2 my-1">
                        <a href={% url 'accounts:profile' post.author.username %}>
                            {% if post.author.icon %}
                                <img class="align-self-center img-thumbnail img-fluid" src="{{ post.author.icon.url }}">
                            {% else %}
                                <img class="align-self-center img-thumbnail img-fluid" src="{% static 'images/user_icon.png' %}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col my-1">
                        <h4 class=""><a class="text-dark" href={% url 'accounts:profile' post.author.username %}>@{{ post.author }}</a></h4>
                        <p class="text-break">
                            {{ post.content | linebreaksbr | urlize }}
                        </p>
                        {% if post.pk in liked_set %}
                            <a href="{% url "post:favorite" post.pk %}" class="d-inline-block"><button type="button" class="btn btn-warning btn-sm">☆いいね {{ likes }}</button></a>
                        {% else %}
                            <a href="{% url "post:favorite" post.pk %}" class="d-inline-block"><button type="button" class="btn btn-outline-warning btn-sm">☆いいね {{ likes }}</button></a>
                        {% endif %}
                        {% if post.author == request.user %}
                            <a href="{% url "post:delete" post.pk %}" class="d-inline-block ms-2"><button type="button" class="btn btn-outline-danger btn-sm">削除</button></a>
                        {% endif %}
                        <h6 class="d-inline-block text-muted ms-2">{{ post.created_at }}</h6>
                    </div>
                </div>
            </ul>
        {% empty %}
            <h6 class="mt-2">Tweetが見つかりませんでした</h6>
        {% endfor %}
    {% else %}
        <h6>ようこそTwitter-cloneへ！<a href="{% url 'accounts:create' %}">アカウントを作成する</a>か<a href="{% url 'accounts:login' %}">ログイン</a>してください</h6>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var q = document.search.query;
        var len = q.value.length;
        q.focus();
        q.setSelectionRange(len, len);
    </script>
{% endblock %}